<% doctors.each do |doctor| %>
    <h6><%= doctor.professional_name %>&nbsp; &nbsp;<%= image_tag online_status(doctor), width: 10 %></h6>
    <p><%= doctor.tag_line %></p>
    <p>Location: <%= doctor.street_address %></p>
    <%= simple_form_for(Invitation.new) do |f| %>

        <div class="form-inputs">
          <p>Select a doctor</p>
          <%= f.hidden_field :doctor_id, value: doctor.id, required: true, autofocus: true %>
          <%= f.hidden_field :user_id, value: current_user.try(:id) %>
        </div>

        <div class="form-actions">
          <%= f.submit ask_for_counseling(doctor) %>
        </div>
    <% end %>
    <br />
<% end %>

