<h3>Looking for a doctor?</h3>
<div class="clear1"></div>
<%= form_tag('/', method: :get) do %>
    <%= text_field_tag :symptoms, '' ,placeholder: "Symptoms" %>
    <%= text_field_tag :speciality, '' ,placeholder: "Speciality" %>
    <%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>
<%= render template: 'modals/suggestions' %>

<script type="text/javascript">
    $(function(){

        initialize_geo_mock_up();
        navigator.geolocation.getCurrentPosition(success_callback, error_callback)
    })
</script>

